<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6f957434-cf90-49ea-8653-b5fef04ce6fd" Publisher="CN=Saif" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TechArchitect</DisplayName>
    <PublisherDisplayName>Saif</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TechArchitect.App">
      <VisualElements DisplayName="TechArchitect" Logo="Assets\techarchlogo.png" SmallLogo="Assets\SmallLogo.png" Description="TechArchitect" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="Technical Architect" />
        <SplashScreen Image="assets\SplashScreen2.png" BackgroundColor="darkGray" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>