<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >
  <targets async="true">

    <target name="file"
            xsi:type="File"
            fileName="D:\Projects\OnlineServiceManagement\ServiceInstall\logs\${logger}.log"
            layout="${longdate} ${threadid:fixedLength=3:padding=3}:${logprefix} ${aspnet-sessionid} ${message} ${exception}"
            archiveEvery="Day"
            archiveAboveSize="10000000"
            maxArchiveFiles="100"
            archiveFileName="D:\Projects\OnlineServiceManagement\ServiceInstall\logs\${logger}_{####}.log"
           />

    <target name="event"
            xsi:type="EventLog"
            source="11"
            layout="${longdate}|${level}|${message}"
            />

    <target name="Discard" xsi:type="Null"/>

  </targets>
  <rules>
    <logger name="WinServiceManger" minlevel="Trace" writeTo="file"/>
  </rules>
</nlog>
